-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: umbra_eternum
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `accounts`
--

DROP TABLE IF EXISTS `accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `username` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `salt` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `banned` tinyint(1) DEFAULT '0',
  `isadmin` tinyint(1) NOT NULL DEFAULT '0',
  `ban_reason` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `last_login_at` timestamp NULL DEFAULT NULL,
  `stored_gold` bigint unsigned NOT NULL DEFAULT '0' COMMENT 'Quantidade de gold armazenada no banco (compartilhado entre personagens da conta)',
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_username` (`username`),
  KEY `idx_email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts`
--

LOCK TABLES `accounts` WRITE;
/*!40000 ALTER TABLE `accounts` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `active_buffs`
--

DROP TABLE IF EXISTS `active_buffs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `active_buffs` (
  `buff_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `target_player_id` bigint unsigned NOT NULL,
  `source_player_id` bigint unsigned DEFAULT NULL,
  `skill_id` int unsigned NOT NULL,
  `effect_id` int unsigned DEFAULT NULL,
  `buff_type` enum('BUFF','DEBUFF','AURA','DOT','HOT','SHIELD') COLLATE utf8mb4_unicode_ci NOT NULL,
  `current_stacks` tinyint unsigned NOT NULL DEFAULT '1',
  `value_snapshot` int NOT NULL DEFAULT '0',
  `started_at` timestamp(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `expires_at` timestamp(3) NOT NULL,
  `last_tick_at` timestamp(3) NULL DEFAULT NULL,
  `is_permanent` tinyint(1) NOT NULL DEFAULT '0',
  `snapshot_json` json DEFAULT NULL,
  PRIMARY KEY (`buff_id`),
  KEY `idx_target_buffs` (`target_player_id`,`expires_at`),
  KEY `idx_source_buffs` (`source_player_id`),
  KEY `idx_skill_buffs` (`skill_id`),
  KEY `idx_expires` (`expires_at`),
  CONSTRAINT `fk_buff_skill` FOREIGN KEY (`skill_id`) REFERENCES `skills` (`skill_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_buff_source` FOREIGN KEY (`source_player_id`) REFERENCES `players` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_buff_target` FOREIGN KEY (`target_player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `active_buffs`
--

LOCK TABLES `active_buffs` WRITE;
/*!40000 ALTER TABLE `active_buffs` DISABLE KEYS */;
/*!40000 ALTER TABLE `active_buffs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `active_dots`
--

DROP TABLE IF EXISTS `active_dots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `active_dots` (
  `dot_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `target_player_id` bigint unsigned NOT NULL,
  `source_player_id` bigint unsigned DEFAULT NULL,
  `skill_id` int unsigned NOT NULL,
  `effect_id` int unsigned DEFAULT NULL,
  `dot_type` enum('DAMAGE','HEAL','MANA') COLLATE utf8mb4_unicode_ci NOT NULL,
  `element_id` tinyint unsigned NOT NULL DEFAULT '1',
  `tick_value` int NOT NULL DEFAULT '0',
  `tick_interval_ms` int unsigned NOT NULL DEFAULT '1000',
  `ticks_remaining` tinyint unsigned NOT NULL DEFAULT '0',
  `started_at` timestamp(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `next_tick_at` timestamp(3) NOT NULL,
  `expires_at` timestamp(3) NOT NULL,
  `snapshot_json` json DEFAULT NULL,
  PRIMARY KEY (`dot_id`),
  KEY `idx_target_dots` (`target_player_id`,`next_tick_at`),
  KEY `idx_next_tick` (`next_tick_at`),
  KEY `fk_dot_source` (`source_player_id`),
  KEY `fk_dot_skill` (`skill_id`),
  CONSTRAINT `fk_dot_skill` FOREIGN KEY (`skill_id`) REFERENCES `skills` (`skill_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_dot_source` FOREIGN KEY (`source_player_id`) REFERENCES `players` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_dot_target` FOREIGN KEY (`target_player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `active_dots`
--

LOCK TABLES `active_dots` WRITE;
/*!40000 ALTER TABLE `active_dots` DISABLE KEYS */;
/*!40000 ALTER TABLE `active_dots` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `blocked_players`
--

DROP TABLE IF EXISTS `blocked_players`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `blocked_players` (
  `block_id` int unsigned NOT NULL AUTO_INCREMENT,
  `player_id` bigint unsigned NOT NULL COMMENT 'Jogador que bloqueou',
  `blocked_player_id` bigint unsigned NOT NULL COMMENT 'Jogador bloqueado',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`block_id`),
  UNIQUE KEY `unique_block` (`player_id`,`blocked_player_id`),
  KEY `idx_player` (`player_id`),
  KEY `idx_blocked` (`blocked_player_id`),
  CONSTRAINT `blocked_players_ibfk_1` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE,
  CONSTRAINT `blocked_players_ibfk_2` FOREIGN KEY (`blocked_player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `blocked_players`
--

LOCK TABLES `blocked_players` WRITE;
/*!40000 ALTER TABLE `blocked_players` DISABLE KEYS */;
/*!40000 ALTER TABLE `blocked_players` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `classes`
--

DROP TABLE IF EXISTS `classes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `classes` (
  `class_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `class_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `class_description` text COLLATE utf8mb4_unicode_ci,
  `base_strength` int unsigned DEFAULT '10',
  `base_dexterity` int unsigned DEFAULT '10',
  `base_intelligence` int unsigned DEFAULT '10',
  `base_vitality` int unsigned DEFAULT '10',
  `base_luck` int unsigned DEFAULT '10',
  `base_health` int unsigned DEFAULT '100',
  `base_mana` int unsigned DEFAULT '50',
  `base_stamina` int unsigned DEFAULT '100',
  `base_physical_attack` int DEFAULT '0',
  `base_magic_attack` int DEFAULT '0',
  `base_physical_defense` int DEFAULT '0',
  `base_magic_defense` int DEFAULT '0',
  `base_accuracy` int DEFAULT '0',
  `base_dodge` int DEFAULT '0',
  `base_critical` int DEFAULT '0',
  `base_movement` int DEFAULT '0',
  `base_critical_resistance` int DEFAULT '0',
  `base_double_attack_resistance` int DEFAULT '0',
  `base_double_attack_rate` int DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`class_id`),
  UNIQUE KEY `class_name` (`class_name`),
  KEY `idx_class_name` (`class_name`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classes`
--

LOCK TABLES `classes` WRITE;
/*!40000 ALTER TABLE `classes` DISABLE KEYS */;
/*!40000 ALTER TABLE `classes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `combat_log`
--

DROP TABLE IF EXISTS `combat_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `combat_log` (
  `log_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `timestamp` timestamp(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `source_player_id` bigint unsigned DEFAULT NULL,
  `target_player_id` bigint unsigned DEFAULT NULL,
  `skill_id` int unsigned DEFAULT NULL,
  `action_type` enum('DAMAGE','HEAL','BUFF','DEBUFF','DEATH','RESURRECT','MISS','DODGE','BLOCK','CRIT') COLLATE utf8mb4_unicode_ci NOT NULL,
  `value` int NOT NULL DEFAULT '0',
  `is_critical` tinyint(1) NOT NULL DEFAULT '0',
  `overkill` int NOT NULL DEFAULT '0',
  `zone_id` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `details_json` json DEFAULT NULL,
  PRIMARY KEY (`log_id`),
  KEY `idx_timestamp` (`timestamp`),
  KEY `idx_source` (`source_player_id`,`timestamp`),
  KEY `idx_target` (`target_player_id`,`timestamp`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `combat_log`
--

LOCK TABLES `combat_log` WRITE;
/*!40000 ALTER TABLE `combat_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `combat_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `duel_requests`
--

DROP TABLE IF EXISTS `duel_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `duel_requests` (
  `request_id` int unsigned NOT NULL AUTO_INCREMENT,
  `challenger_id` bigint unsigned NOT NULL COMMENT 'Desafiante',
  `opponent_id` bigint unsigned NOT NULL COMMENT 'Oponente',
  `status` enum('pending','accepted','declined','expired','cancelled') COLLATE utf8mb4_unicode_ci DEFAULT 'pending',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `responded_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL COMMENT 'Desafio expira após 1 minuto',
  PRIMARY KEY (`request_id`),
  KEY `idx_challenger` (`challenger_id`),
  KEY `idx_opponent` (`opponent_id`),
  KEY `idx_status` (`status`),
  CONSTRAINT `duel_requests_ibfk_1` FOREIGN KEY (`challenger_id`) REFERENCES `players` (`id`) ON DELETE CASCADE,
  CONSTRAINT `duel_requests_ibfk_2` FOREIGN KEY (`opponent_id`) REFERENCES `players` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `duel_requests`
--

LOCK TABLES `duel_requests` WRITE;
/*!40000 ALTER TABLE `duel_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `duel_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `factions`
--

DROP TABLE IF EXISTS `factions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `factions` (
  `faction_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `faction_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `faction_description` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`faction_id`),
  UNIQUE KEY `faction_name` (`faction_name`),
  KEY `idx_faction_name` (`faction_name`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `factions`
--

LOCK TABLES `factions` WRITE;
/*!40000 ALTER TABLE `factions` DISABLE KEYS */;
INSERT INTO `factions` VALUES (1,'Novarra','Reino de luz e ordem, dedicado à justiça e proteção dos inocentes','2025-11-27 16:19:42'),(2,'Eldros','Império das sombras, focado em poder e dominação através da força','2025-11-27 16:19:42');
/*!40000 ALTER TABLE `factions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `friend_requests`
--

DROP TABLE IF EXISTS `friend_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `friend_requests` (
  `request_id` int unsigned NOT NULL AUTO_INCREMENT,
  `from_player_id` bigint unsigned NOT NULL,
  `to_player_id` bigint unsigned NOT NULL,
  `status` enum('pending','accepted','declined','expired') COLLATE utf8mb4_unicode_ci DEFAULT 'pending',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `responded_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL COMMENT 'Solicitação expira após 7 dias',
  PRIMARY KEY (`request_id`),
  UNIQUE KEY `unique_friend_request` (`from_player_id`,`to_player_id`),
  KEY `idx_from_player` (`from_player_id`),
  KEY `idx_to_player` (`to_player_id`),
  KEY `idx_status` (`status`),
  CONSTRAINT `friend_requests_ibfk_1` FOREIGN KEY (`from_player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE,
  CONSTRAINT `friend_requests_ibfk_2` FOREIGN KEY (`to_player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `friend_requests`
--

LOCK TABLES `friend_requests` WRITE;
/*!40000 ALTER TABLE `friend_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `friend_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `friends`
--

DROP TABLE IF EXISTS `friends`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `friends` (
  `friendship_id` int unsigned NOT NULL AUTO_INCREMENT,
  `player1_id` bigint unsigned NOT NULL COMMENT 'Jogador 1 (menor ID)',
  `player2_id` bigint unsigned NOT NULL COMMENT 'Jogador 2 (maior ID)',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `last_interaction` timestamp NULL DEFAULT NULL COMMENT 'Última vez que interagiram',
  PRIMARY KEY (`friendship_id`),
  UNIQUE KEY `unique_friendship` (`player1_id`,`player2_id`),
  KEY `idx_player1` (`player1_id`),
  KEY `idx_player2` (`player2_id`),
  CONSTRAINT `friends_ibfk_1` FOREIGN KEY (`player1_id`) REFERENCES `players` (`id`) ON DELETE CASCADE,
  CONSTRAINT `friends_ibfk_2` FOREIGN KEY (`player2_id`) REFERENCES `players` (`id`) ON DELETE CASCADE,
  CONSTRAINT `friends_chk_1` CHECK ((`player1_id` < `player2_id`))
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `friends`
--

LOCK TABLES `friends` WRITE;
/*!40000 ALTER TABLE `friends` DISABLE KEYS */;
INSERT INTO `friends` VALUES (3,2,14,'2026-02-11 03:36:13',NULL),(5,28,29,'2026-02-11 14:57:01',NULL),(30,1,23,'2026-02-12 14:06:12',NULL),(31,14,25,'2026-02-13 02:28:52',NULL),(35,1,29,'2026-02-20 16:50:10',NULL),(36,1,19,'2026-02-21 01:41:42',NULL),(37,1,32,'2026-02-24 15:11:20',NULL),(38,1,34,'2026-02-25 00:36:28',NULL);
/*!40000 ALTER TABLE `friends` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `guilds`
--

DROP TABLE IF EXISTS `guilds`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `guilds` (
  `guild_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `guild_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `guild_description` text COLLATE utf8mb4_unicode_ci,
  `guild_icon` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `guild_leader_id` bigint unsigned DEFAULT NULL,
  `founded_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`guild_id`),
  UNIQUE KEY `guild_name` (`guild_name`),
  KEY `idx_guild_name` (`guild_name`),
  KEY `idx_guild_leader` (`guild_leader_id`),
  CONSTRAINT `guilds_ibfk_1` FOREIGN KEY (`guild_leader_id`) REFERENCES `players` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `guilds`
--

LOCK TABLES `guilds` WRITE;
/*!40000 ALTER TABLE `guilds` DISABLE KEYS */;
/*!40000 ALTER TABLE `guilds` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item_templates`
--

DROP TABLE IF EXISTS `item_templates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `item_templates` (
  `item_id` int NOT NULL AUTO_INCREMENT,
  `item_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `item_description` text COLLATE utf8mb4_unicode_ci,
  `item_type` enum('weapon','armor','consumable','material','quest','misc') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'misc',
  `item_subtype` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Ex: sword, helmet, health_potion, ore, etc.',
  `icon_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Caminho para o ícone do item no Content Browser',
  `max_stack_size` int NOT NULL DEFAULT '1' COMMENT 'Quantidade máxima em um slot (1 = não empilhável)',
  `equipment_slot` enum('none','head','chest','legs','feet','hands','main_hand','off_hand','ring','amulet','necklace','earring','bracelet','mount') COLLATE utf8mb4_unicode_ci DEFAULT 'none' COMMENT 'Slot de equipamento',
  `required_level` int DEFAULT '1' COMMENT 'Nível mínimo para usar o item',
  `stats_json` json DEFAULT NULL COMMENT 'Estatísticas do item: {"damage": 10, "defense": 5, "health_restore": 50, etc.}',
  `rarity` enum('common','uncommon','rare','epic','legendary') COLLATE utf8mb4_unicode_ci DEFAULT 'common',
  `value` int DEFAULT '0' COMMENT 'Valor em moeda do jogo para venda/compra',
  `weight` float DEFAULT '0' COMMENT 'Peso do item (para sistema de carga)',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`item_id`),
  KEY `idx_item_type` (`item_type`),
  KEY `idx_item_subtype` (`item_subtype`),
  KEY `idx_rarity` (`rarity`)
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item_templates`
--

LOCK TABLES `item_templates` WRITE;
/*!40000 ALTER TABLE `item_templates` DISABLE KEYS */;
/*!40000 ALTER TABLE `item_templates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parties`
--

DROP TABLE IF EXISTS `parties`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `parties` (
  `party_id` int unsigned NOT NULL AUTO_INCREMENT,
  `leader_id` bigint unsigned NOT NULL COMMENT 'Líder do grupo',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`party_id`),
  KEY `idx_leader` (`leader_id`),
  CONSTRAINT `parties_ibfk_1` FOREIGN KEY (`leader_id`) REFERENCES `players` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=85 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parties`
--

LOCK TABLES `parties` WRITE;
/*!40000 ALTER TABLE `parties` DISABLE KEYS */;
INSERT INTO `parties` VALUES (4,30,'2026-02-09 01:15:02','2026-02-09 03:37:33'),(84,23,'2026-02-26 15:10:27','2026-02-26 15:10:27');
/*!40000 ALTER TABLE `parties` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `party_invites`
--

DROP TABLE IF EXISTS `party_invites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `party_invites` (
  `invite_id` int unsigned NOT NULL AUTO_INCREMENT,
  `party_id` int unsigned DEFAULT NULL COMMENT 'ID do grupo (NULL = convite pendente)',
  `from_player_id` bigint unsigned NOT NULL COMMENT 'Jogador que enviou o convite',
  `to_player_id` bigint unsigned NOT NULL COMMENT 'Jogador que recebeu o convite',
  `status` enum('pending','accepted','declined','expired') COLLATE utf8mb4_unicode_ci DEFAULT 'pending',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `responded_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL COMMENT 'Convite expira após 5 minutos',
  PRIMARY KEY (`invite_id`),
  KEY `idx_from_player` (`from_player_id`),
  KEY `idx_to_player` (`to_player_id`),
  KEY `idx_party_id` (`party_id`),
  KEY `idx_status` (`status`),
  CONSTRAINT `party_invites_ibfk_1` FOREIGN KEY (`from_player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE,
  CONSTRAINT `party_invites_ibfk_2` FOREIGN KEY (`to_player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=144 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `party_invites`
--

LOCK TABLES `party_invites` WRITE;
/*!40000 ALTER TABLE `party_invites` DISABLE KEYS */;
/*!40000 ALTER TABLE `party_invites` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `party_members`
--

DROP TABLE IF EXISTS `party_members`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `party_members` (
  `party_id` int unsigned NOT NULL,
  `player_id` bigint unsigned NOT NULL,
  `joined_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`party_id`,`player_id`),
  KEY `idx_player` (`player_id`),
  CONSTRAINT `party_members_ibfk_1` FOREIGN KEY (`party_id`) REFERENCES `parties` (`party_id`) ON DELETE CASCADE,
  CONSTRAINT `party_members_ibfk_2` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `party_members`
--

LOCK TABLES `party_members` WRITE;
/*!40000 ALTER TABLE `party_members` DISABLE KEYS */;
INSERT INTO `party_members` VALUES (4,30,'2026-02-09 01:15:02');
/*!40000 ALTER TABLE `party_members` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_cooldowns`
--

DROP TABLE IF EXISTS `player_cooldowns`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player_cooldowns` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `player_id` bigint unsigned NOT NULL,
  `skill_id` int unsigned NOT NULL,
  `started_at` timestamp(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `expires_at` timestamp(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_player_cooldown` (`player_id`,`skill_id`),
  KEY `idx_expires` (`expires_at`),
  KEY `fk_cooldown_skill` (`skill_id`),
  CONSTRAINT `fk_cooldown_player` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_cooldown_skill` FOREIGN KEY (`skill_id`) REFERENCES `skills` (`skill_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_cooldowns`
--

LOCK TABLES `player_cooldowns` WRITE;
/*!40000 ALTER TABLE `player_cooldowns` DISABLE KEYS */;
/*!40000 ALTER TABLE `player_cooldowns` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_inventory`
--

DROP TABLE IF EXISTS `player_inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player_inventory` (
  `inventory_id` int NOT NULL AUTO_INCREMENT,
  `player_id` bigint unsigned NOT NULL,
  `item_template_id` int NOT NULL,
  `quantity` int NOT NULL DEFAULT '1' COMMENT 'Quantidade do item (para itens empilháveis)',
  `slot_index` int NOT NULL COMMENT 'Índice do slot no inventário (0-49 para inventário de 50 slots)',
  `is_equipped` tinyint(1) DEFAULT '0' COMMENT 'Se o item está equipado',
  `durability` float DEFAULT '100' COMMENT 'Durabilidade do item (100 = novo, 0 = quebrado)',
  `custom_properties` json DEFAULT NULL COMMENT 'Propriedades únicas desta instância: {"enchantment": "fire", "bonus_stats": {}, etc.}',
  `acquired_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'Quando o item foi adquirido',
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`inventory_id`),
  UNIQUE KEY `unique_player_slot` (`player_id`,`slot_index`),
  KEY `item_template_id` (`item_template_id`),
  KEY `idx_player_inventory` (`player_id`),
  KEY `idx_slot_index` (`player_id`,`slot_index`),
  KEY `idx_equipped` (`player_id`,`is_equipped`),
  CONSTRAINT `player_inventory_ibfk_1` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE,
  CONSTRAINT `player_inventory_ibfk_2` FOREIGN KEY (`item_template_id`) REFERENCES `item_templates` (`item_id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=215 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_inventory`
--

LOCK TABLES `player_inventory` WRITE;
/*!40000 ALTER TABLE `player_inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `player_inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_levels`
--

DROP TABLE IF EXISTS `player_levels`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player_levels` (
  `level_id` int unsigned NOT NULL AUTO_INCREMENT,
  `level_number` int unsigned NOT NULL COMMENT 'Número do nível (1-50)',
  `exp_required` int unsigned NOT NULL COMMENT 'EXP necessário para alcançar este nível (EXP total acumulado)',
  `exp_for_next_level` int unsigned NOT NULL COMMENT 'EXP necessário para passar deste nível para o próximo',
  `stat_points_gained` int unsigned DEFAULT '10' COMMENT 'Pontos de atributos ganhos neste nível',
  `hp_gain` int unsigned DEFAULT '20' COMMENT 'HP máximo ganho neste nível',
  `mp_gain` int unsigned DEFAULT '20' COMMENT 'MP máximo ganho neste nível',
  `phys_atk_gain` int unsigned DEFAULT '5' COMMENT 'Ataque físico ganho neste nível',
  `mag_atk_gain` int unsigned DEFAULT '5' COMMENT 'Ataque mágico ganho neste nível',
  `phys_def_gain` int unsigned DEFAULT '3' COMMENT 'Defesa física ganha neste nível',
  `mag_def_gain` int unsigned DEFAULT '3' COMMENT 'Defesa mágica ganha neste nível',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`level_id`),
  UNIQUE KEY `level_number` (`level_number`),
  UNIQUE KEY `unique_level_number` (`level_number`),
  KEY `idx_level_number` (`level_number`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_levels`
--

LOCK TABLES `player_levels` WRITE;
/*!40000 ALTER TABLE `player_levels` DISABLE KEYS */;
/*!40000 ALTER TABLE `player_levels` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_reports`
--

DROP TABLE IF EXISTS `player_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player_reports` (
  `report_id` int unsigned NOT NULL AUTO_INCREMENT,
  `reporter_id` bigint unsigned NOT NULL COMMENT 'Jogador que denunciou',
  `reported_id` bigint unsigned NOT NULL COMMENT 'Jogador denunciado',
  `reason` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Motivo da denúncia',
  `status` enum('pending','reviewed','resolved','dismissed') COLLATE utf8mb4_unicode_ci DEFAULT 'pending',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `reviewed_at` timestamp NULL DEFAULT NULL,
  `reviewed_by` bigint unsigned DEFAULT NULL COMMENT 'Admin que revisou',
  PRIMARY KEY (`report_id`),
  KEY `idx_reporter` (`reporter_id`),
  KEY `idx_reported` (`reported_id`),
  KEY `idx_status` (`status`),
  CONSTRAINT `player_reports_ibfk_1` FOREIGN KEY (`reporter_id`) REFERENCES `players` (`id`) ON DELETE CASCADE,
  CONSTRAINT `player_reports_ibfk_2` FOREIGN KEY (`reported_id`) REFERENCES `players` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_reports`
--

LOCK TABLES `player_reports` WRITE;
/*!40000 ALTER TABLE `player_reports` DISABLE KEYS */;
INSERT INTO `player_reports` VALUES (1,1,29,'muito pela saco','pending','2026-02-19 17:09:58',NULL,NULL),(2,1,19,'é um pela saco','pending','2026-02-19 22:51:30',NULL,NULL),(3,1,19,'pela saco pra krl','pending','2026-02-21 01:40:27',NULL,NULL),(4,1,32,'aaaaaaaaaaaaaaaaaaa','pending','2026-02-24 15:12:49',NULL,NULL);
/*!40000 ALTER TABLE `player_reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_resistances`
--

DROP TABLE IF EXISTS `player_resistances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player_resistances` (
  `player_id` bigint unsigned NOT NULL,
  `physical_res` smallint NOT NULL DEFAULT '0',
  `shadow_res` smallint NOT NULL DEFAULT '0',
  `fire_res` smallint NOT NULL DEFAULT '0',
  `holy_res` smallint NOT NULL DEFAULT '0',
  `poison_res` smallint NOT NULL DEFAULT '0',
  `ice_res` smallint NOT NULL DEFAULT '0',
  `lightning_res` smallint NOT NULL DEFAULT '0',
  `arcane_res` smallint NOT NULL DEFAULT '0',
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`player_id`),
  CONSTRAINT `fk_resistances_player` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_resistances`
--

LOCK TABLES `player_resistances` WRITE;
/*!40000 ALTER TABLE `player_resistances` DISABLE KEYS */;
/*!40000 ALTER TABLE `player_resistances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_sessions`
--

DROP TABLE IF EXISTS `player_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player_sessions` (
  `player_id` int unsigned NOT NULL COMMENT 'ID do jogador (players.id)',
  `last_seen` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'Última vez que reportou online',
  PRIMARY KEY (`player_id`),
  KEY `idx_last_seen` (`last_seen`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_sessions`
--

LOCK TABLES `player_sessions` WRITE;
/*!40000 ALTER TABLE `player_sessions` DISABLE KEYS */;
INSERT INTO `player_sessions` VALUES (23,'2026-02-26 15:10:18'),(1,'2026-02-26 15:23:53');
/*!40000 ALTER TABLE `player_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_skill_points`
--

DROP TABLE IF EXISTS `player_skill_points`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player_skill_points` (
  `player_id` bigint unsigned NOT NULL,
  `total_points_earned` int unsigned NOT NULL DEFAULT '0',
  `points_spent` int unsigned NOT NULL DEFAULT '0',
  `points_available` int unsigned NOT NULL DEFAULT '0',
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`player_id`),
  CONSTRAINT `fk_skillpoints_player` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_skill_points`
--

LOCK TABLES `player_skill_points` WRITE;
/*!40000 ALTER TABLE `player_skill_points` DISABLE KEYS */;
INSERT INTO `player_skill_points` VALUES (1,150,75,75,'2026-02-24 19:49:22'),(4,3,0,3,'2026-02-23 15:24:36'),(23,3,2,1,'2026-02-24 19:23:24'),(25,50,26,24,'2026-02-25 00:12:39'),(26,3,1,2,'2026-02-24 03:18:34'),(27,3,1,2,'2026-02-24 03:15:33'),(28,3,3,0,'2026-02-24 16:33:58'),(31,3,0,3,'2026-02-23 15:25:42'),(32,3,3,0,'2026-02-24 15:13:21'),(33,3,1,2,'2026-02-24 19:30:20'),(34,3,1,2,'2026-02-25 00:37:54');
/*!40000 ALTER TABLE `player_skill_points` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_skillbar`
--

DROP TABLE IF EXISTS `player_skillbar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player_skillbar` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `player_id` bigint unsigned NOT NULL,
  `slot_index` tinyint unsigned NOT NULL,
  `skill_id` int unsigned DEFAULT NULL,
  `keybind` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_player_slot` (`player_id`,`slot_index`),
  KEY `idx_player_skillbar` (`player_id`),
  KEY `fk_skillbar_skill` (`skill_id`),
  CONSTRAINT `fk_skillbar_player` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_skillbar_skill` FOREIGN KEY (`skill_id`) REFERENCES `skills` (`skill_id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `chk_slot_index` CHECK (((`slot_index` >= 0) and (`slot_index` < 20)))
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_skillbar`
--

LOCK TABLES `player_skillbar` WRITE;
/*!40000 ALTER TABLE `player_skillbar` DISABLE KEYS */;
/*!40000 ALTER TABLE `player_skillbar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_skills`
--

DROP TABLE IF EXISTS `player_skills`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player_skills` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `player_id` bigint unsigned NOT NULL,
  `skill_id` int unsigned NOT NULL,
  `current_rank` tinyint unsigned NOT NULL DEFAULT '1',
  `learned_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `total_uses` int unsigned NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_player_skill` (`player_id`,`skill_id`),
  KEY `idx_player_skills` (`player_id`),
  KEY `fk_pskills_skill` (`skill_id`),
  CONSTRAINT `fk_pskills_player` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_pskills_skill` FOREIGN KEY (`skill_id`) REFERENCES `skills` (`skill_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_skills`
--

LOCK TABLES `player_skills` WRITE;
/*!40000 ALTER TABLE `player_skills` DISABLE KEYS */;
/*!40000 ALTER TABLE `player_skills` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_stat_points`
--

DROP TABLE IF EXISTS `player_stat_points`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player_stat_points` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `player_id` bigint unsigned NOT NULL,
  `unspent_points` int unsigned DEFAULT '0' COMMENT 'Pontos não distribuídos',
  `strength_points` int unsigned DEFAULT '0' COMMENT 'Pontos adicionais em Strength (além do base da classe)',
  `dexterity_points` int unsigned DEFAULT '0' COMMENT 'Pontos adicionais em Dexterity',
  `intelligence_points` int unsigned DEFAULT '0' COMMENT 'Pontos adicionais em Intelligence',
  `vitality_points` int unsigned DEFAULT '0' COMMENT 'Pontos adicionais em Vitality',
  `luck_points` int unsigned DEFAULT '0' COMMENT 'Pontos adicionais em Luck',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_player_stat_points` (`player_id`),
  KEY `idx_player_id` (`player_id`),
  CONSTRAINT `player_stat_points_ibfk_1` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_stat_points`
--

LOCK TABLES `player_stat_points` WRITE;
/*!40000 ALTER TABLE `player_stat_points` DISABLE KEYS */;
/*!40000 ALTER TABLE `player_stat_points` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_storage`
--

DROP TABLE IF EXISTS `player_storage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player_storage` (
  `storage_id` int NOT NULL AUTO_INCREMENT,
  `player_id` bigint unsigned NOT NULL,
  `inventory_id` int NOT NULL COMMENT 'Referência ao item em player_inventory',
  `slot_index` int NOT NULL COMMENT 'Índice do slot no storage (50-149)',
  `stored_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'Quando o item foi armazenado',
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`storage_id`),
  UNIQUE KEY `unique_player_storage_slot` (`player_id`,`slot_index`),
  UNIQUE KEY `unique_inventory_storage` (`inventory_id`,`player_id`),
  KEY `idx_player_storage` (`player_id`),
  KEY `idx_slot_index` (`player_id`,`slot_index`),
  CONSTRAINT `player_storage_ibfk_1` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE,
  CONSTRAINT `player_storage_ibfk_2` FOREIGN KEY (`inventory_id`) REFERENCES `player_inventory` (`inventory_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1331 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_storage`
--

LOCK TABLES `player_storage` WRITE;
/*!40000 ALTER TABLE `player_storage` DISABLE KEYS */;
INSERT INTO `player_storage` VALUES (1329,1,191,52,'2026-02-14 10:15:17','2026-02-14 10:15:17'),(1330,23,188,55,'2026-02-24 19:01:10','2026-02-24 19:01:10');
/*!40000 ALTER TABLE `player_storage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_threat`
--

DROP TABLE IF EXISTS `player_threat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player_threat` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `mob_instance_id` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `player_id` bigint unsigned NOT NULL,
  `threat_value` int unsigned NOT NULL DEFAULT '0',
  `updated_at` timestamp(3) NULL DEFAULT CURRENT_TIMESTAMP(3) ON UPDATE CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_mob_player` (`mob_instance_id`,`player_id`),
  KEY `idx_mob_threat` (`mob_instance_id`,`threat_value` DESC),
  KEY `fk_threat_player` (`player_id`),
  CONSTRAINT `fk_threat_player` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_threat`
--

LOCK TABLES `player_threat` WRITE;
/*!40000 ALTER TABLE `player_threat` DISABLE KEYS */;
/*!40000 ALTER TABLE `player_threat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `players`
--

DROP TABLE IF EXISTS `players`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `players` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `account_id` bigint unsigned NOT NULL,
  `character_name` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `level` int unsigned DEFAULT '1',
  `experience` bigint unsigned DEFAULT '0',
  `next_level_exp` int unsigned DEFAULT '0' COMMENT 'EXP necessário para próximo nível (cache)',
  `pos_x` float DEFAULT '0',
  `pos_y` float DEFAULT '0',
  `pos_z` float DEFAULT '100',
  `current_zone` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT 'Zone_1',
  `health` int unsigned DEFAULT '100',
  `max_health` int unsigned DEFAULT '100',
  `mana` int unsigned DEFAULT '100',
  `max_mana` int unsigned DEFAULT '100',
  `stamina` int unsigned DEFAULT '100',
  `max_stamina` int unsigned DEFAULT '100',
  `strength` int unsigned DEFAULT '10',
  `dexterity` int unsigned DEFAULT '10',
  `intelligence` int unsigned DEFAULT '10',
  `vitality` int unsigned DEFAULT '10',
  `hair` int unsigned DEFAULT '0' COMMENT 'ID do cabelo do personagem',
  `head` int unsigned DEFAULT '0' COMMENT 'ID da cabeça do personagem',
  `class_id` bigint unsigned DEFAULT NULL,
  `faction_id` bigint unsigned DEFAULT NULL,
  `current_guild_id` bigint unsigned DEFAULT NULL,
  `equipped_title_id` bigint unsigned DEFAULT NULL,
  `selected_class` bigint unsigned DEFAULT NULL,
  `luck` int unsigned DEFAULT '10',
  `pvp` int unsigned DEFAULT '0',
  `chaos` int unsigned DEFAULT '0',
  `honor` int unsigned DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `last_played_at` timestamp NULL DEFAULT NULL,
  `gold` bigint unsigned NOT NULL DEFAULT '0' COMMENT 'Quantidade de gold que o jogador possui',
  PRIMARY KEY (`id`),
  UNIQUE KEY `character_name` (`character_name`),
  KEY `idx_account` (`account_id`),
  KEY `idx_character_name` (`character_name`),
  KEY `idx_player_class` (`class_id`),
  KEY `idx_player_faction` (`faction_id`),
  KEY `idx_player_guild` (`current_guild_id`),
  KEY `idx_player_title` (`equipped_title_id`),
  KEY `idx_player_selected_class` (`selected_class`),
  CONSTRAINT `fk_player_class` FOREIGN KEY (`class_id`) REFERENCES `classes` (`class_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_player_faction` FOREIGN KEY (`faction_id`) REFERENCES `factions` (`faction_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_player_guild` FOREIGN KEY (`current_guild_id`) REFERENCES `guilds` (`guild_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_player_selected_class` FOREIGN KEY (`selected_class`) REFERENCES `classes` (`class_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_player_title` FOREIGN KEY (`equipped_title_id`) REFERENCES `titles` (`title_id`) ON DELETE SET NULL,
  CONSTRAINT `players_ibfk_1` FOREIGN KEY (`account_id`) REFERENCES `accounts` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `players`
--

LOCK TABLES `players` WRITE;
/*!40000 ALTER TABLE `players` DISABLE KEYS */;
/*!40000 ALTER TABLE `players` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schema_version`
--

DROP TABLE IF EXISTS `schema_version`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schema_version` (
  `version` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `applied_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`version`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schema_version`
--

LOCK TABLES `schema_version` WRITE;
/*!40000 ALTER TABLE `schema_version` DISABLE KEYS */;
INSERT INTO `schema_version` VALUES ('1.3.0','2025-10-14 16:51:19');
/*!40000 ALTER TABLE `schema_version` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `skill_effects`
--

DROP TABLE IF EXISTS `skill_effects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `skill_effects` (
  `effect_id` int unsigned NOT NULL AUTO_INCREMENT,
  `skill_id` int unsigned NOT NULL,
  `effect_order` tinyint unsigned NOT NULL DEFAULT '1',
  `effect_type` enum('DAMAGE','HEAL','SHIELD','BUFF_STAT','DEBUFF_STAT','DOT','HOT','CLEANSE','DISPEL','STUN','SILENCE','SLOW','ROOT','KNOCKBACK','TAUNT','STEALTH','INVULNERABLE','LIFESTEAL','MANASTEAL','SUMMON','TELEPORT','EXECUTE','REFLECT','COOLDOWN_RESET','RESOURCE_RESTORE') COLLATE utf8mb4_unicode_ci NOT NULL,
  `target_stat` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `value_flat` int NOT NULL DEFAULT '0',
  `value_percent` smallint NOT NULL DEFAULT '0',
  `duration_ms` int unsigned NOT NULL DEFAULT '0',
  `tick_interval_ms` int unsigned NOT NULL DEFAULT '1000',
  `chance_percent` tinyint unsigned NOT NULL DEFAULT '100',
  `conditions_json` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`effect_id`),
  KEY `idx_skill_effects` (`skill_id`,`effect_order`),
  CONSTRAINT `fk_effects_skill` FOREIGN KEY (`skill_id`) REFERENCES `skills` (`skill_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `skill_effects`
--

LOCK TABLES `skill_effects` WRITE;
/*!40000 ALTER TABLE `skill_effects` DISABLE KEYS */;
/*!40000 ALTER TABLE `skill_effects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `skill_elements`
--

DROP TABLE IF EXISTS `skill_elements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `skill_elements` (
  `element_id` tinyint unsigned NOT NULL AUTO_INCREMENT,
  `element_name` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `element_key` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `color_hex` varchar(7) COLLATE utf8mb4_unicode_ci DEFAULT '#FFFFFF',
  `description` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`element_id`),
  UNIQUE KEY `uk_element_key` (`element_key`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `skill_elements`
--

LOCK TABLES `skill_elements` WRITE;
/*!40000 ALTER TABLE `skill_elements` DISABLE KEYS */;
/*!40000 ALTER TABLE `skill_elements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `skill_points_per_level`
--

DROP TABLE IF EXISTS `skill_points_per_level`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `skill_points_per_level` (
  `level` tinyint unsigned NOT NULL,
  `points_granted` tinyint unsigned NOT NULL DEFAULT '3',
  `cumulative_points` int unsigned NOT NULL DEFAULT '0',
  PRIMARY KEY (`level`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `skill_points_per_level`
--

LOCK TABLES `skill_points_per_level` WRITE;
/*!40000 ALTER TABLE `skill_points_per_level` DISABLE KEYS */;
INSERT INTO `skill_points_per_level` VALUES (1,3,3),(2,3,6),(3,3,9),(4,3,12),(5,3,15),(6,3,18),(7,3,21),(8,3,24),(9,3,27),(10,3,30),(11,3,33),(12,3,36),(13,3,39),(14,3,42),(15,3,45),(16,3,48),(17,3,51),(18,3,54),(19,3,57),(20,3,60),(21,3,63),(22,3,66),(23,3,69),(24,3,72),(25,3,75),(26,3,78),(27,3,81),(28,3,84),(29,3,87),(30,3,90),(31,3,93),(32,3,96),(33,3,99),(34,3,102),(35,3,105),(36,3,108),(37,3,111),(38,3,114),(39,3,117),(40,3,120),(41,3,123),(42,3,126),(43,3,129),(44,3,132),(45,3,135),(46,3,138),(47,3,141),(48,3,144),(49,3,147),(50,3,150);
/*!40000 ALTER TABLE `skill_points_per_level` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `skill_rank_scaling`
--

DROP TABLE IF EXISTS `skill_rank_scaling`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `skill_rank_scaling` (
  `scaling_id` int unsigned NOT NULL AUTO_INCREMENT,
  `skill_id` int unsigned NOT NULL,
  `rank` tinyint unsigned NOT NULL,
  `power_coef_bonus` smallint NOT NULL DEFAULT '0',
  `resource_cost_bonus` smallint NOT NULL DEFAULT '0',
  `cooldown_reduction_ms` int NOT NULL DEFAULT '0',
  `duration_bonus_ms` int NOT NULL DEFAULT '0',
  `extra_effects_json` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`scaling_id`),
  UNIQUE KEY `uk_skill_rank` (`skill_id`,`rank`),
  CONSTRAINT `fk_rank_skill` FOREIGN KEY (`skill_id`) REFERENCES `skills` (`skill_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `skill_rank_scaling`
--

LOCK TABLES `skill_rank_scaling` WRITE;
/*!40000 ALTER TABLE `skill_rank_scaling` DISABLE KEYS */;
/*!40000 ALTER TABLE `skill_rank_scaling` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `skill_scaling_stats`
--

DROP TABLE IF EXISTS `skill_scaling_stats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `skill_scaling_stats` (
  `scaling_id` tinyint unsigned NOT NULL AUTO_INCREMENT,
  `scaling_name` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `scaling_key` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`scaling_id`),
  UNIQUE KEY `uk_scaling_key` (`scaling_key`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `skill_scaling_stats`
--

LOCK TABLES `skill_scaling_stats` WRITE;
/*!40000 ALTER TABLE `skill_scaling_stats` DISABLE KEYS */;
INSERT INTO `skill_scaling_stats` VALUES (1,'Physical Attack','PHYS_ATK','Escala com ataque físico','2026-02-21 21:32:40'),(2,'Magic Attack','MAG_ATK','Escala com ataque mágico','2026-02-21 21:32:40'),(3,'Health','HEALTH','Escala com vida máxima','2026-02-21 21:32:40'),(4,'Defense','DEFENSE','Escala com defesa','2026-02-21 21:32:40'),(5,'None','NONE','Sem scaling de stat','2026-02-21 21:32:40');
/*!40000 ALTER TABLE `skill_scaling_stats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `skill_targets`
--

DROP TABLE IF EXISTS `skill_targets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `skill_targets` (
  `target_id` tinyint unsigned NOT NULL AUTO_INCREMENT,
  `target_name` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `target_key` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`target_id`),
  UNIQUE KEY `uk_target_key` (`target_key`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `skill_targets`
--

LOCK TABLES `skill_targets` WRITE;
/*!40000 ALTER TABLE `skill_targets` DISABLE KEYS */;
INSERT INTO `skill_targets` VALUES (1,'Self','SELF','Afeta apenas o próprio usuário','2026-02-21 21:32:40'),(2,'Enemy','ENEMY','Afeta um inimigo único','2026-02-21 21:32:40'),(3,'Ally','ALLY','Afeta um aliado único','2026-02-21 21:32:40'),(4,'Area','AREA','Afeta área (inimigos)','2026-02-21 21:32:40'),(5,'Party','PARTY','Afeta todo o grupo','2026-02-21 21:32:40'),(6,'Area Ally','AREA_ALLY','Afeta área (aliados)','2026-02-21 21:32:40');
/*!40000 ALTER TABLE `skill_targets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `skill_types`
--

DROP TABLE IF EXISTS `skill_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `skill_types` (
  `type_id` tinyint unsigned NOT NULL AUTO_INCREMENT,
  `type_name` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type_key` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`type_id`),
  UNIQUE KEY `uk_type_key` (`type_key`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `skill_types`
--

LOCK TABLES `skill_types` WRITE;
/*!40000 ALTER TABLE `skill_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `skill_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `skills`
--

DROP TABLE IF EXISTS `skills`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `skills` (
  `skill_id` int unsigned NOT NULL AUTO_INCREMENT,
  `skill_key` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `skill_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `class_id` bigint unsigned NOT NULL,
  `skill_order` tinyint unsigned NOT NULL DEFAULT '1',
  `required_level` tinyint unsigned NOT NULL DEFAULT '1',
  `skill_cost` tinyint unsigned NOT NULL DEFAULT '1',
  `max_rank` tinyint unsigned NOT NULL DEFAULT '5',
  `type_id` tinyint unsigned NOT NULL,
  `target_id` tinyint unsigned NOT NULL,
  `element_id` tinyint unsigned NOT NULL DEFAULT '1',
  `scaling_stat_id` tinyint unsigned NOT NULL DEFAULT '1',
  `str_scaling` tinyint unsigned NOT NULL DEFAULT '0',
  `dex_scaling` tinyint unsigned NOT NULL DEFAULT '0',
  `vit_scaling` tinyint unsigned NOT NULL DEFAULT '0',
  `int_scaling` tinyint unsigned NOT NULL DEFAULT '0',
  `lck_scaling` tinyint unsigned NOT NULL DEFAULT '0',
  `power_coef` smallint unsigned NOT NULL DEFAULT '100',
  `secondary_coef` smallint unsigned NOT NULL DEFAULT '0',
  `resource_type` enum('MANA','HEALTH','STAMINA','NONE') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'MANA',
  `resource_cost` smallint unsigned NOT NULL DEFAULT '0',
  `resource_cost_percent` tinyint unsigned NOT NULL DEFAULT '0',
  `cooldown_ms` int unsigned NOT NULL DEFAULT '0',
  `cast_time_ms` int unsigned NOT NULL DEFAULT '0',
  `duration_ms` int unsigned NOT NULL DEFAULT '0',
  `range_min` smallint unsigned NOT NULL DEFAULT '0',
  `range_max` smallint unsigned NOT NULL DEFAULT '100',
  `area_radius` smallint unsigned NOT NULL DEFAULT '0',
  `is_stackable` tinyint(1) NOT NULL DEFAULT '0',
  `max_stacks` tinyint unsigned NOT NULL DEFAULT '1',
  `can_crit` tinyint(1) NOT NULL DEFAULT '1',
  `ignores_defense` tinyint(1) NOT NULL DEFAULT '0',
  `is_interrupt` tinyint(1) NOT NULL DEFAULT '0',
  `requires_target` tinyint(1) NOT NULL DEFAULT '1',
  `can_move_while_casting` tinyint(1) NOT NULL DEFAULT '0',
  `threat_modifier` smallint NOT NULL DEFAULT '100',
  `pvp_modifier` tinyint unsigned NOT NULL DEFAULT '100',
  `icon_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `vfx_key` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sfx_key` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `tooltip_template` text COLLATE utf8mb4_unicode_ci,
  `server_tags` json DEFAULT NULL,
  `effects_json` json DEFAULT NULL,
  `is_enabled` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`skill_id`),
  UNIQUE KEY `uk_skill_key` (`skill_key`),
  KEY `idx_class_id` (`class_id`),
  KEY `idx_type_id` (`type_id`),
  KEY `idx_required_level` (`required_level`),
  KEY `idx_class_order` (`class_id`,`skill_order`),
  KEY `fk_skills_target` (`target_id`),
  KEY `fk_skills_element` (`element_id`),
  KEY `fk_skills_scaling` (`scaling_stat_id`),
  CONSTRAINT `fk_skills_class` FOREIGN KEY (`class_id`) REFERENCES `classes` (`class_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_skills_element` FOREIGN KEY (`element_id`) REFERENCES `skill_elements` (`element_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_skills_scaling` FOREIGN KEY (`scaling_stat_id`) REFERENCES `skill_scaling_stats` (`scaling_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_skills_target` FOREIGN KEY (`target_id`) REFERENCES `skill_targets` (`target_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_skills_type` FOREIGN KEY (`type_id`) REFERENCES `skill_types` (`type_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=91 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `skills`
--

LOCK TABLES `skills` WRITE;
/*!40000 ALTER TABLE `skills` DISABLE KEYS */;
/*!40000 ALTER TABLE `skills` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `titles`
--

DROP TABLE IF EXISTS `titles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `titles` (
  `title_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `title_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `title_description` text COLLATE utf8mb4_unicode_ci,
  `title_status` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT 'common',
  `bonus_strength` int DEFAULT '0',
  `bonus_dexterity` int DEFAULT '0',
  `bonus_intelligence` int DEFAULT '0',
  `bonus_vitality` int DEFAULT '0',
  `bonus_luck` int DEFAULT '0',
  `bonus_health` int DEFAULT '0',
  `bonus_mana` int DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`title_id`),
  UNIQUE KEY `title_name` (`title_name`),
  KEY `idx_title_name` (`title_name`),
  KEY `idx_title_status` (`title_status`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `titles`
--

LOCK TABLES `titles` WRITE;
/*!40000 ALTER TABLE `titles` DISABLE KEYS */;
/*!40000 ALTER TABLE `titles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trade_items`
--

DROP TABLE IF EXISTS `trade_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trade_items` (
  `trade_item_id` int unsigned NOT NULL AUTO_INCREMENT,
  `trade_session_id` int unsigned NOT NULL,
  `player_id` bigint unsigned NOT NULL COMMENT 'Jogador que está oferecendo',
  `inventory_id` int NOT NULL COMMENT 'Item do inventário',
  `quantity` int unsigned NOT NULL DEFAULT '1',
  `added_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`trade_item_id`),
  KEY `idx_trade_session` (`trade_session_id`),
  KEY `idx_player` (`player_id`),
  KEY `inventory_id` (`inventory_id`),
  CONSTRAINT `trade_items_ibfk_1` FOREIGN KEY (`trade_session_id`) REFERENCES `trade_sessions` (`trade_session_id`) ON DELETE CASCADE,
  CONSTRAINT `trade_items_ibfk_2` FOREIGN KEY (`inventory_id`) REFERENCES `player_inventory` (`inventory_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=100 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trade_items`
--

LOCK TABLES `trade_items` WRITE;
/*!40000 ALTER TABLE `trade_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `trade_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trade_requests`
--

DROP TABLE IF EXISTS `trade_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trade_requests` (
  `request_id` int unsigned NOT NULL AUTO_INCREMENT,
  `trade_session_id` int unsigned DEFAULT NULL COMMENT 'ID da sessão de troca (NULL = pendente)',
  `from_player_id` bigint unsigned NOT NULL,
  `to_player_id` bigint unsigned NOT NULL,
  `status` enum('pending','accepted','declined','expired','cancelled') COLLATE utf8mb4_unicode_ci DEFAULT 'pending',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `responded_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL COMMENT 'Solicitação expira após 2 minutos',
  PRIMARY KEY (`request_id`),
  KEY `idx_from_player` (`from_player_id`),
  KEY `idx_to_player` (`to_player_id`),
  KEY `idx_trade_session` (`trade_session_id`),
  KEY `idx_status` (`status`),
  CONSTRAINT `trade_requests_ibfk_1` FOREIGN KEY (`from_player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE,
  CONSTRAINT `trade_requests_ibfk_2` FOREIGN KEY (`to_player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=150 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trade_requests`
--

LOCK TABLES `trade_requests` WRITE;
/*!40000 ALTER TABLE `trade_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `trade_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trade_sessions`
--

DROP TABLE IF EXISTS `trade_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trade_sessions` (
  `trade_session_id` int unsigned NOT NULL AUTO_INCREMENT,
  `player1_id` bigint unsigned NOT NULL,
  `player2_id` bigint unsigned NOT NULL,
  `player1_ready` tinyint(1) DEFAULT '0',
  `player2_ready` tinyint(1) DEFAULT '0',
  `status` enum('active','completed','cancelled') COLLATE utf8mb4_unicode_ci DEFAULT 'active',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `completed_at` timestamp NULL DEFAULT NULL,
  `player1_gold_offer` bigint unsigned NOT NULL DEFAULT '0' COMMENT 'Gold que player1 oferece na troca',
  `player2_gold_offer` bigint unsigned NOT NULL DEFAULT '0' COMMENT 'Gold que player2 oferece na troca',
  PRIMARY KEY (`trade_session_id`),
  KEY `idx_player1` (`player1_id`),
  KEY `idx_player2` (`player2_id`),
  KEY `idx_status` (`status`),
  CONSTRAINT `trade_sessions_ibfk_1` FOREIGN KEY (`player1_id`) REFERENCES `players` (`id`) ON DELETE CASCADE,
  CONSTRAINT `trade_sessions_ibfk_2` FOREIGN KEY (`player2_id`) REFERENCES `players` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=113 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trade_sessions`
--

LOCK TABLES `trade_sessions` WRITE;
/*!40000 ALTER TABLE `trade_sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `trade_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'umbra_eternum'
--
/*!50003 DROP PROCEDURE IF EXISTS `calculate_skill_points` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `calculate_skill_points`(IN p_player_id BIGINT UNSIGNED)
BEGIN
    DECLARE v_level INT;
    DECLARE v_total_points INT;
    DECLARE v_spent_points INT;
    
    -- Obter nível do jogador
    SELECT `level` INTO v_level FROM `players` WHERE `id` = p_player_id;
    
    -- Calcular pontos totais baseado no nível
    SELECT COALESCE(cumulative_points, 0) INTO v_total_points 
    FROM `skill_points_per_level` 
    WHERE `level` = v_level;
    
    -- Calcular pontos gastos
    SELECT COALESCE(SUM(s.skill_cost * ps.current_rank), 0) INTO v_spent_points
    FROM `player_skills` ps
    JOIN `skills` s ON ps.skill_id = s.skill_id
    WHERE ps.player_id = p_player_id;
    
    -- Atualizar ou inserir registro
    INSERT INTO `player_skill_points` (`player_id`, `total_points_earned`, `points_spent`, `points_available`)
    VALUES (p_player_id, v_total_points, v_spent_points, v_total_points - v_spent_points)
    ON DUPLICATE KEY UPDATE
        total_points_earned = v_total_points,
        points_spent = v_spent_points,
        points_available = v_total_points - v_spent_points;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `CleanExpiredSocialRequests` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `CleanExpiredSocialRequests`()
BEGIN
    -- Limpar convites de grupo expirados
    UPDATE party_invites 
    SET status = 'expired' 
    WHERE status = 'pending' 
      AND expires_at IS NOT NULL 
      AND expires_at < NOW();
    
    -- Limpar solicitações de troca expiradas
    UPDATE trade_requests 
    SET status = 'expired' 
    WHERE status = 'pending' 
      AND expires_at IS NOT NULL 
      AND expires_at < NOW();
    
    -- Limpar solicitações de amizade expiradas
    UPDATE friend_requests 
    SET status = 'expired' 
    WHERE status = 'pending' 
      AND expires_at IS NOT NULL 
      AND expires_at < NOW();
    
    -- Limpar desafios de duelo expirados
    UPDATE duel_requests 
    SET status = 'expired' 
    WHERE status = 'pending' 
      AND expires_at IS NOT NULL 
      AND expires_at < NOW();
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `cleanup_expired_buffs` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `cleanup_expired_buffs`()
BEGIN
    DELETE FROM `active_buffs` WHERE `expires_at` < NOW(3) AND `is_permanent` = 0;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `cleanup_expired_cooldowns` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `cleanup_expired_cooldowns`()
BEGIN
    DELETE FROM `player_cooldowns` WHERE `expires_at` < NOW(3);
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `cleanup_expired_dots` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `cleanup_expired_dots`()
BEGIN
    DELETE FROM `active_dots` WHERE `expires_at` < NOW(3);
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-26 13:01:02
